/* ==================== */
/* BASE ELEMENT STYLES */
/* ================== */

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    line-height: 1.5;
    /*padding: 0 .8em;*/ /* 16px */
}
        /* I obtained the background color by using an online color picker that sampled the background color of the body in a reference image.*/
        /* I chose Rubik as my font, as I found the sans-serif to be compatible to the mockup and versatile in weight. The rounded corners add a more complementary element to the theme, and I chose Ubuntu to add a playful contrast for the title. */

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em; /* 25px */
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}


/* =================== */
/* BASE LAYOUT STYLES */
/* ================= */

li {

    background-color: white;
    margin-bottom: 5px; /* Should I use relative values here? */
    padding: .75rem 0; /* Rem unit due to compounding */
}
        /* Locate anchor tags in Pseudo Styles Section */

.profile-img {
    width: 70%;
}

img {
    width: 100%;
}


/* ------- NAVIGATION ------- */

.name {
    margin: 0;
}

/* ------- LAYOUT CONTAINERS ------- */


.wrapper {
    width: 90%;
    margin: 0 auto;
}
 
.main-header {
    padding: 1em o;
}

/* ================= */
/* Pseudo Selectors */
/* =============== */



a:visited {
    color: black;
}

a:hover {
    color:#eb422a;
}
        /* Waiting to learn how to integrate a transition into #eb422a */

